apiVersion: apps/v1
kind: Deployment
metadata:
  name: httpd
  namespace: test-metrics
  labels:
    app: httpd
    version: v1
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: httpd
  template:
    metadata:
      labels:
        app: httpd
        version: v1
    spec:
      automountServiceAccountToken: false
      containers:
      - name: httpd-1
        image: quay.io/fedora/httpd-24-micro
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
      - name: httpd-2
        image: quay.io/fedora/httpd-24-micro
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
